html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

#div-image {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aqua;
}

#map {
    position: relative;
}

#frame {
    position: absolute;
    margin-top: 16px;
}

#div-settings {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

/* Media query for small screens */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack #div-settings below #div-image */
        width: 100%;
    }

    #div-image {
        width: 100%; /* Take full width on mobile */
        height: auto; /* Let the divs expand based on content */
    }

    #map {
        max-width: 256px;
        max-height: 256px;
    }

    #frame {
        max-width: 272px; 
        max-height: 272px;
    }

    #div-settings {
        width: 100%; /* Take full width on mobile */
        height: auto; /* Let the divs expand based on content */
    }
}