html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

#div-image {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: blanchedalmond;
}

#map {
    position: relative;
}

#frame {
    position: absolute;
    margin-top: 16px;
}

#div-settings {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}